body {
    width: 65%;
}

h1 {
    float:left;

}

.nav-links {
    float: right;
    display: inline;
    list-style-type: none;
    /*clear: left;*/
    margin: 70px 20px 50px 0;

}

li {
    display: inline;
    margin: 0 10px 0 10px;
}

.header-img {
    background-position: center;
    /*clear: right;*/
}