body {
    width: 80%;
}

h1 {
    float:left;

}

nav-links {
    float: right;
    /*display: inline;*/
    list-style-type: none;

}

li {
    display: inline;
    padding-left: 200px;
}

header-img {
    background-position: center;
    clear: right;
    margin: 100px 0 0 0;

}