body {
    width: 65%;
    font-family: 'Roboto', sans-serif;

}

/* Header */

.alert-info {
    display:none;
}

h1 {
    float:left;
    padding: 25px 0 0 0;

}

.nav-links {
    float: right;
    display: inline;
    list-style-type: none;
    /*clear: left;*/
    margin: 70px 20px 50px 0;
    padding: 0 0 10px 0;

}

li {
    display: inline;
    margin: 0 10px 0 10px;
}

.header-img {
    background-position: center;
    /*clear: right;*/

}

/* Main Section */

.main {
    float: left;
    width: 45%;
    clear: both;
}

.sub-section {
    float: right;
    width: 45%;
    margin: 0 10px 0 15px;
}


/* Footer */

footer {
    padding-top: 200px;
    clear: both;

}
